.login-body {
  min-height: 100vh;
  background: url("../fondos/MEMOR_Web_Login.png") center/cover no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-wrapper {
  width: 420px;
  margin-right: 80px;
}

body {
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  background-size: cover;
  color: #eef2ff;
  -webkit-font-smoothing: antialiased;

  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

.login-card {
  background: rgba(15, 10, 27, 0.37);
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 20px 50px rgba(29, 62, 83, 0.26);
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  color: #fcfcfc;
  cursor: pointer;
}

.tabs button.active {
  background: #5fbef5bd;
  color: #020824;
  border-radius: 8px;
}

.form {
  display: none;
  flex-direction: column;
  gap: 12px;
}

.form.active {
  display: flex;
}

.form input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.checkbox-premium {
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
  color: #f7f7f7;
  opacity: 0.85;
}
